body {background-color: yellow;
    margin-left: 45px;
}
        span {background-color: white; 
            margin-left: 45px; margin-top: 24px;
            display: inline-block; height: 96px; 
            width: 25%; text-align: center;
            font-family: 'Courier New', Courier, monospace;
            line-height: 96px;
        }
        a {
            color: black;
        }

        a :hover {
            background-color: wheat;
        }

        img {
            float:right;
            vertical-align: middle;
        }

        footer {
            display: block;
            text-align: center;
            clear: right;
        }